<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>About page</title>
  {{!-- <link rel="stylesheet" href="css/style.css"> --}}
  <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <div class="container-fluid main-nav">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand text-uppercase" href="#"><i class="fa-solid fa-snowflake icon mr-2"></i>Weather App<i class="fa-solid icon fa-snowflake ml-2"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto text-uppercase">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/weather">Weather</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="container-fluid main-section">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main-section-left">
               <img src="Images/about_logo.jpg">
            </div>

            <div class="col-md-6 col-12 main-section-right">
                 <p class="head">About Me</p>
                 <h1>I'm <span>Mern Stack</span> Developer.</h1>
                 <p>This Weather App is created by me with frontend and backend technologies,you can see the weather of your cities by entering the name of your city on weather page...</p>
                   <a class="check_btn"href="/weather"><button type="button">Check Now</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--=================footer section===================-->
    <footer class="section-footer">
      <p>Created by Deva Reddy</p>
    </footer>
    <!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>